/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-toastr/toastr";

*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./assets/bg.jpeg");
}